<div class="container">
    <div class="row">
        <h2>My todos</h2>
    </div>

    <div class="row">
        <form role="form" ng-submit="addTodo()">
            <div class="input-group">
                <input type="text"
                       ng-model="todo.task"
                       placeholder="what needs to be done"
                       class="form-control">

                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="Add">
                </span>
            </div>
        </form>
    </div>

    <br/>

    <div class="row">
        <div ui-sortable ng-mode="todos">
            <p class="input-group" ng-repeat="todo in todos" style="padding: 5px 0; cursor: move;">
                <input type="text" ng-model="todo.task" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-danger" ng-click="removeTodo($index)">X</button>
                </span>
            </p>
        </div>
    </div>
</div>